.carrito {
    margin-left: 500px; 
    font-size: large;
    display: flex;
}
a {
    color: aliceblue;
    text-decoration: none;
    
}
.widget {
    background-color: red;
    border-radius: 50px;
    font-size: medium;
    

}