
.main-nav1 {
    display: inline-block;
    position:fixed;
    width: 100%;
    height: auto;
    left:0px;
    top:0px;
    margin-top: 0;
    margin-bottom: 1px;
    padding-top: 0;
    padding-left: 0px;
    background-color: rgba(236, 245, 239, 0.2);
    font-family: 'Noto Sans TC', sans-serif;
    color: gray;
    text-decoration: none;
    text-underline-offset: none;
    z-index: 1;
    text-align: center;
    justify-content: baseline;
}
.nav1 {
    margin-left: 550px;
    }
    .nav1 a {    
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    padding-bottom: 0;
    }
    .nav1 li {
    display: inline-block;
    width: auto;
    padding-bottom: 0;
    margin-bottom: 0px;
    margin-top: 0;
    text-align: center;
    margin-right: 8px;
    margin-left: 8px;
    text-underline-offset: none;

}    